
body{
    margin: 0px;
}
header{
    width: 100%;
    position: fixed;
    top: 0px;
    text-align: center;
    background-color: rgb(99, 221, 235);
    color: white;
}
main{
    width: 60%;
    margin: 5% 0 5% 20% ;
    border: 1px black solid;
}
.text{
    margin: 8% 5%;
}