
.table td{
    border: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
}
.table th{
    border: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
}
.table{
    border-collapse: collapse;
}
.table thead{
    background-color:  #f0f1f4;
}
.table tfoot{
    background-color: #121212;
    color: #fff;
    text-align: right;
}
.table caption{
    text-align: left;
    font-style: italic;
    color: #ccc ;
}